/* {
  outline: 1px solid red;
}
*/
.form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999999;
  font-size: 14px;
  line-height: 1.73;
}
.form input::-moz-placeholder { /* Firefox 19+ */
  color: #999999;
  font-size: 14px;
  line-height: 1.73;
}
.form input:-ms-input-placeholder { /* IE 10+ */
  color: #999999;
  font-size: 14px;
  line-height: 1.73;
}
.form input:-moz-placeholder { /* Firefox 18- */
  color: #999999;
  font-size: 14px;
  line-height: 1.73;
}

.form input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 0;
}
.form input:focus::-moz-placeholder { /* Firefox 19+ */
  font-size: 0;
}
.form input:focus:-ms-input-placeholder { /* IE 10+ */
  font-size: 0;
}
.form input:focus:-moz-placeholder { /* Firefox 18- */
  font-size: 0;
}

.price-range input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
  font-size: 14px;
  line-height: 1.142;
}
.price-range input::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
  font-size: 14px;
  line-height: 1.142;
}
.price-range input:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
  font-size: 14px;
  line-height: 1.142;
}
.price-range input:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
  font-size: 14px;
  line-height: 1.142;
}

body {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.375;
  font-family: "Roboto", "Arial", sans-serif;
}

.visually-hidden {
  font-size: 0;
}

.body-container {
  margin: 0 auto;
  width: 900px;

  background-repeat: no-repeat;
  background-position: top center;
  background-color: #849d8f;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.body-container::before,
.body-container::after {
  content: "";

  visibility: hidden;
}

.body-container::before {
  background-image: url("../img/slide-2.png");
}

.body-container::after {
  background-image: url("../img/slide-3.png");
}

.container {
  padding: 0 20px;
}

.container__gallery {
  padding: 0 10px;
}

.page-header {
  position: relative;

  padding-top: 9px;
}

.main-nav {
  display: flex;
}

.logo {
  margin-right: 10px;
  width: 154px;
  height: 64px;
}

.main-nav__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__list a {
  color: #ffffff;
}

.site-list {
  display: flex;
  margin-right: 54px;
  padding-top: 13px;
  min-width: 363px;
}

.site-list__item a {
  position: relative;
  display: block;
  padding: 9px 14px;

  font-size: 16px;
  line-height: 1.125;
  font-weight: 700;
  text-decoration: none;
}

.site-list__item a::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 14px;
  right: 14px;

  height: 1px;

  background-color: rgba(255, 255, 255, 0.2);
}

.site-list__item a:hover {
  color: #323232;

  border-radius: 20px;
  text-decoration: none;
  background-color: #f8f7f4;
}

.site-list__item a:active {
  box-shadow: inset 0 2px 1px 0 #696969;
}

.site-list__item--active a {
  color: #ffffff;

  text-decoration: none;

  border-radius: 20px;
  background-color: #d07058;
}

.site-list__item a:active::after {
  display: none;
}

.site-list__item--active a::after {
  display: none;
}

.site-list__item:first-child {
  position: relative;
}

.catalog-list {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 41px;
  left: -7px;
  z-index: 20;

  border-radius: 5px;
  background-color: #f8f7f4;
}

.catalog-list__item a {
  display: block;
  padding: 12px 20px;

  text-align: left;

  color: #323232;
  font-size: 14px;
  line-height: 1.143;
  font-weight: 400;

  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
}

.catalog-list__item:first-child a {
  position: relative;

  font-weight: 700;
}

.catalog-list__item:first-child a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 6px;

  width: 128px;
  height: 1px;

  background-color: rgba(0, 0, 0, 0.2);
}

.catalog-list__item a:hover {
  border-radius: 0;
  background-color: #fbded7;
}

.catalog-list__item a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.catalog-list__item--active a {
  border-radius: 0;
  background-color: #d07058;
}

.site-list__item:first-child:hover .catalog-list {
  display: flex;
}

.user-block {
  display: flex;

  padding-top: 13px;
}

.user-block__item {
  position: relative;

  margin-right: 9px;
}

.user-block__item:last-child {
  margin-right: 0;
}

.user-block__item--basket {
  margin-right: 0;
}

.user-block__item a {
  position: relative;
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 44px;
  padding-right: 16px;

  font-size: 14px;
  line-height: 1.143;
  font-weight: 500;

  text-decoration: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
.user-block__item--search a {
  padding: 0;
  width: 33px;
  height: 33px;

  border-radius: 50%;
  background-image: url("../img/icon-search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 17px;
}

.user-block__item--search a:hover {
background-color: #f8f7f4;
background-image: url("../img/icon-search-h.png");
}

.user-block__item--basket {
  width: 120px;
}

.user-block__item--login a::before,
.user-block__item--basket a::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 6px;

  width: 21px;
  height: 19px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px 19px;
}

.user-block__item--login a::before {
  background-image: url("../img/icon-login.png");
}

.user-block__item--basket a::before {
  background-image: url("../img/icon-basket.png");
}

.user-block__item--basket .full {
  color: #323232;

  background-color: #f8f7f4;
}

.user-block__item--basket .full::before {
  background-image: url("../img/full-basket-icon.png");
}

.user-block__item--login a:hover {
  color: #323232;

  background-color: #f8f7f4;
}

.user-block__item--login a:hover::before {
  background-image: url("../img/icon-login-h.png");
}

.form {
  position: absolute;
  top: 41px;
  right: 0;
  z-index: 20;

  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.form input {
  padding: 11px 15px;

  color: #323232;

  border: 1px solid #d3d3d2;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
}

.form input:hover {
  border: 2px solid rgba(50, 50, 50, 0.52);
}

.form input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.search-form {
  display: none;

  padding: 20px 15px;
}

.search-form input {
  min-width: 314px;
}

.user-block__item--search:hover .search-form {
  display: block;
}

.login-form {
  display: none;
  flex-wrap: wrap;
  padding: 20px;
  padding-right: 17px;
  padding-bottom: 22px;
}

.login-form input {
  margin-bottom: 20px;
  min-width: 244px;
}

.login-form .btn {
  margin-right: 20px;
  width: 100px;
  height: 45px;

  border: none;
  box-shadow: 0 1px 2px 0 #ac1000;
  box-sizing: border-box;
}

.login-form__links {
  width: 119px;
}

.login-form a {
  padding: 4px 0;

  color: #323232;
  font-size: 13px;
  line-height: 1.23;

  text-decoration: underline;
}

.login-form a::before {
  display: none;
}

.user-block__item--login:hover .login-form {
  display: flex;
}

.page-header p {
  margin: 0;
  float: right;

  font-size: 14px;
  line-height: 1.143;
  font-weight: 700px;

  text-align: right;
}

.contact-phone {
  display: block;
  margin-top: 3px;

  font-size: 22px;
  line-height: 1.09;
}

.slider {
  position: relative;

  padding-top: 318px;

  text-align: center;
}

.slide {
  display: none;
}

.slide__title {
  margin: 0 auto;
  margin-bottom: 32px;
  width: 700px;

  font-size: 60px;
  line-height: 1;
}

.btn {
  display: inline-block;
  padding: 10px 15px;

  color: #ffffff;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;

  vertical-align: top;
  text-align: center;

  background-color: #f26843;
  background-image:    -moz-linear-gradient(to top, #ca3824 0%, #f26843 100%);
  background-image: -webkit-linear-gradient(to top, #ca3824 0%, #f26843 100%);
  background-image: linear-gradient(to top, #ca3824 0%, #f26843 100%);

  border-radius: 100px;
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  background: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 1px 2px 0 #ac1000;
}

.btn:active {
  background-image: -moz-linear-gradient(to top, #f26843 0%, #e74a35 100%);
  background-image: -webkit-linear-gradient(to top, #f26843 0%, #e74a35 100%);
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.slide__btn {
  padding: 9px 0;
  width: 280px;

  font-size: 32px;
  line-height: 1.375;

  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-color: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide__btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide__btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider__input {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .body-container #slide1,
#btn-2:checked ~ .body-container #slide2,
#btn-3:checked ~ .body-container #slide3 {
  display: block;
}

#btn-1:checked ~ .body-container {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .body-container {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .body-container {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}


#btn-1:checked ~ .body-container label[for="btn-1"],
#btn-2:checked ~ .body-container label[for="btn-2"],
#btn-3:checked ~ .body-container label[for="btn-3"] {
  background-color: #ffffff;
}

label[for="btn-1"]:hover,
label[for="btn-2"]:hover,
label[for="btn-3"]:hover {
  background-color: #b2c1b8;
}

.banners {
  display: flex;
  padding-top: 42px;
}

.banners__item {
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 24px;
  width: 380px;

  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.banners__title {
  margin: 0;
  margin-bottom: 18px;

  font-size: 35px;
  line-height: 1.17;
  font-weight: 700;
}

.banners__item p {
  margin: 0;
  margin-bottom: 25px;

  font-size: 18px;
  line-height: 1.22;
  font-weight: 700;
}

.banners__item .btn {
  float: right;

  padding: 10px 22px;
  padding-bottom: 11px;

  font-size: 18px;
  line-height: 1.33;
}

.banner__ruspberry {
  margin-right: 20px;

  background-image: url("../img/ruspberry-background.jpg");
}

.banner__chocolate {
  background-image: url("../img/choco-background.jpg");
}

.hits {
  padding-top: 31px;
  padding-bottom: 23px;
}

.hits__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hits__item {
  position: relative;
  margin-right: 20px;
  width: 200px;

  text-align: center;
}

.hits__item:nth-child(4n) {
  margin-right: 0;
}

.hits__item .btn {
  display: none;
  margin-top: 16px;
}

.icecream-item {
  padding: 0;
}

.hits__item:hover .icecream-item {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 20;

  padding: 0 10px;
  padding-top: 9px;
  padding-bottom: 17px;
  width: 200px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.hits__item:hover .btn {
  display: inline-block;
}

.hits__item .item__link {
  position: relative;

  display: block;
  padding-top: 211px;

  color: #ffffff;
  font-size: 16px;
  line-height: 1.375;

  background-repeat: no-repeat;
  background-position: top;
}

.hits__item p {
  position: absolute;
  top: 138px;
  left: 0;

  margin: 0;

  font-size: 45px;
  line-height: 1;
  font-weight: 700;

  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.hits__item span {
  font-size: 30px;
  line-height: 1.5;
}

.hits__item .item__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.png");
  background-repeat: no-repeat;
  background-position: center;
}

.hits__item--1 .item__link {
  background-image: url("../img/1.png");
}

.hits__item--2 .item__link {
  background-image: url("../img/2.png");
}

.hits__item--3 .item__link {
  background-image: url("../img/3.png");
}

.hits__item--4 .item__link {
  background-image: url("../img/4.png");
}

.features {
  padding: 20px;
  padding-top: 22px;
  padding-bottom: 25px;

  color: #323232;

  border-radius: 15px;
  background-color: #ecddc5;
  background-image: url("../img/waffle-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.features__title {
  margin: 0;
  margin-bottom: 22px;

  font-size: 24px;
  line-height: 1.25;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  position: relative;

  margin-bottom: 22px;
  margin-right: 20px;
  padding-left: 55px;
  width: 345px;

  font-size: 16px;
  line-height: 1.375;
}

.features__item:nth-child(even) {
  margin-right: 0;
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__item:nth-last-child(2) {
  margin-bottom: 0;
}

.features__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: -12px;

  width: 49px;
  height: 49px;

  background-position: center;
  background-repeat: no-repeat;
}

.features__item--icecream::before {
  background-image: url("../img/icon-icecream.png");
}

.features__item--cow::before {
  background-image: url("../img/icon-cow.png");
}

.features__item--leaf::before {
  background-image: url("../img/icon-leaf.png");
}

.features__item--therm::before {
  background-image: url("../img/icon-thermometer.png");
}

.news-subscribe {
  display: flex;
  padding-top: 40px;
  padding-bottom: 38px;
}

.news-subscribe p {
  margin: 0;

  color: #5a5a5a;
}

.news {
  margin-right: 20px;
  padding: 20px;
  padding-top: 23px;
  width: 380px;
  min-height: 175px;

  border-radius: 15px;
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.news p {
  margin-bottom: 4px;
}

.news a {
  padding-right: 5px;
  color: #353535;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;

  background-color: rgba(255, 255, 255, 0.8);
}

.subscribe {
  padding: 5px;
  width: 410px;
  min-height: 210px;

  border-radius: 15px;
  background-image: url("../img/mail-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.subscribe__wrap {
  padding: 20px;
  padding-top: 27px;
  min-height: 165px;

  border-radius: 15px;
  background-image: url("../img/mail-1.jpg");
  background-repeat: repeat;
}

.subscribe-form {
  position: static;

  display: flex;
  padding-top: 16px;

  box-shadow: none;
}

.subscribe-form input {

  margin-right: 11px;
  padding: 12px 15px;
  min-width: 230px;
}

.subscribe-form input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.5;
}

.subscribe-form input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.5;
}

.subscribe-form input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.5;
}

.subscribe-form input:-moz-placeholder {
  font-size: 16px;
  line-height: 1.5;
}

.subscribe-form .btn {
  flex-grow: 1;

  border: none;
}

.map {
  position: relative;

  height: 429px;

  background-color: #c6bfa9;
  background-image:
    url("../img/map-marker.png"),
    url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position:
    185px 138px,
    center -215px;
}

.address {
  position: absolute;
  right: 20px;
  top: 62px;

  padding: 25px;
  padding-top: 28px;
  padding-bottom: 32px;
  width: 252px;

  color: #323232;

  border-radius: 15px;
  background-color: #ffffff;
}

.address p {
  margin: 0;
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 1.428;
}

.address address {
  margin-bottom: 18px;

  font-size: 18px;
  line-height: 1.33;
  font-weight: 700;
  font-style: normal;
}

.address span {
  display: block;
  margin-top: 6px;
  margin-bottom: 3px;

  font-size: 18px;
  line-height: 1.33;
  font-weight: 700;
}

.address .btn {
  margin-top: 20px;
  width: 222px;
}

.page-footer {
  padding-top: 18px;
  padding-bottom: 20px;
}

.page-footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  margin-right: 55px;
  padding-top: 12px;
}

.social__list,
.links__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__list {
  display: flex;
}

.social__item {
  margin-right: 11px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__item a {
  display: block;
  width: 32px;
  height: 32px;

  font-size: 0;

  border-radius: 50%;
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
}

.social__item--twitter a  {
  background-image: url("../img/icon-twitter.png");
  opacity: 0.8;
}

.social__item--instagramm a {
  background-image: url("../img/icon-instagramm.png");
}

.social__item--facebook a {
  background-image: url("../img/icon-facebook.png");
}

.social__item--vk a {
  background-image: url("../img/icon-vk.png");
}

.social__item a:hover {
  opacity: 1;
}

.links {
  padding-top: 3px;
}

.links__list {
  display: flex;
  flex-wrap: wrap;

  width: 350px;
}

.links__item {
  width: 143px;
}

.links__item:last-child {
  width: 165px;
}

.links__item a {
  position: relative;
  color: #ffffff;
  font-size: 13px;
  line-height: 1.384;
  font-weight: 400;
  text-decoration: none;
}

.links__item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: rgba(255, 255, 255, 0.2);
}

.links__item:first-child a {
  font-weight: 700;
}

.links__item:first-child a::before {
  content: "";
  position: absolute;
  left: -22px;
  top: 4px;

  width: 15px;
  height: 13px;

  background-image: url("../img/icon-heart.png");
  background-repeat: no-repeat;
  background-position: center;
}

.copyright a {
  display: block;
  text-align: left;

  text-decoration: none;
}

.copyright p {
  position: relative;

  margin: 0;

  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
}

.copyright p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: rgba(255, 255, 255, 0.2);
}

.feedback {
  display: none;
}

.catalog-main {
  padding-top: 21px;
}

.bradcrumbs {
  margin-bottom: 2px;
}

.breadcrumbs__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs__item {
  margin-right: 22px;
}

.breadcrumbs__item:last-child {
  margin: 0;
}

.breadcrumbs__item a {
  position: relative;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.142;
  font-weight: 400;
  text-decoration: none;
}

.breadcrumbs__item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: rgba(255, 255, 255, 0.2);
}

.breadcrumbs__item a::before {
  content: "»";
  position: absolute;
  right: -18px;
  bottom: 7px;

  width: 10px;
  height: 10px;
}

.breadcrumbs__item .active::before,
.breadcrumbs__item .active::after {
  display: none;
}

.main-title {
  margin: 0;
  font-size: 35px;
  line-height: 1.171;
}

.catalog-form {
  display: flex;
  flex-wrap: wrap;
  padding-top: 28px;
}

.catalog-form fieldset {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  border: none;
}

.catalog-form legend {
  padding-bottom: 8px;
  padding-left: 17px;

  font-size: 14px;
  line-height: 1.142;
  font-weight: 400;
}

.catalog-form .fieldset__wrap {
  padding: 0 16px;
  height: 37px;

  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-form label {
  display: inline-block;

  font-size: 16px;
  line-height: 1.125;
  font-weight: 500;
}

.catalog-form .select-field {
  margin-right: 14px;
  width: 194px;
}

.select-field input {
  display: none;
}

.select-field label {
  padding: 10px 16px;
  padding-bottom: 9px;
  width: 194px;

  border-radius: 50px;
  box-sizing: border-box;
}

.select-field .fieldset__wrap {
  padding: 0;
  height: 37px;
}

.select-field .select {
  position: relative;

  display: inline-block;
  padding: 0;
  width: 194px;
  height: 37px;
}

.select::before {
  content: "";
  position: absolute;
  right: 16px;
  top: 15px;
  z-index: 10;

  display: inline-block;
  width: 0;
  height: 0;

  border-top: 10px solid #ffffff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;

  cursor: pointer;
}

.select:hover::before {
  border-top: 10px solid #333333;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.options {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  display: block;
  min-height: 37px;

  overflow: hidden;

  cursor: pointer;
}

.options label:hover {
  color: #323232;
  background: #ffffff;
  cursor: pointer;
}

.catalog-form .range {
  position: relative;

  margin-right: 14px;
  width: 220px;
}

.range .fieldset__wrap {
  padding-top: 17px;
  padding-left: 21px;
  height: 20px;
}

.price-controls {
  position: absolute;
  top: -3px;
  left: 57px;
}

.price-controls label {
  font-size: 14px;
  line-height: 1.142;
}

.price-controls input {
  display: inline-block;
  padding: 0;
  width: 25px;

  color: #ffffff;
  font-size: 14px;
  line-height: 1.142;

  background-color: transparent;
  border: 0;
}

.range-controls {
  position: relative;
}

.scale {
  position: relative;
}

.range-controls .bar {
  width: 176px;
  height: 4px;

  background-color: rgba(248,247,244, 0.5);
}

.bar-between {
  position: absolute;
  top: 0;
  left: 16px;
  width: 110px;
  height: 4px;

  background-color: #f8f7f4;
}

.range-controls .toggle {
  position: absolute;
  width: 4px;
  height: 4px;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
}

.toggle-min {
  left: 13px;
  top: -8px;
}

.toggle-max {
  left: 111px;
  top: -8px;
}

.catalog-form .radiobuttons {
  width: 417px;
}

.radiobuttons input {
  display: none;
}

.radiobuttons label {
  position: relative;

  margin-right: 20px;
  padding-left: 27px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.radiobuttons label:last-of-type {
  margin-right: 0;
}

.radiobuttons label::before {
  content: "";
  position: absolute;
  left: -2px;
  top: 8px;

  width: 22px;
  height: 22px;

  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  background-color: transparent;
  box-sizing: border-box;
}

.radiobuttons label:hover::before {
  border: 4px solid #ffffff;
}

.radiobuttons input:checked + label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 15px;

  width: 8px;
  height: 8px;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
}

.radiobuttons input:checked + label:hover::after {
  background-color: #ffffff;
}

.catalog-form .checkboxes {
  margin-bottom: 0;
  margin-right: 13px;
}

.checkboxes input {
  display: none;
}

.checkboxes label {
  position: relative;

  margin-right: 19px;
  padding-left: 30px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.checkboxes label:last-of-type {
  margin-right: 0;
}

.checkboxes label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;

  width: 20px;
  height: 20px;

  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  box-sizing: border-box;
}

.checkboxes label:hover::before {
  border: 2px solid #ffffff;
}

.checkboxes input:checked + label::before {
  width: 24px;

  border: 0;
  background-image: url("../img/checkbox-on.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

.checkboxes input:checked + label:hover::before {
  opacity: 1;
}

.catalog-form .btn {
  flex-grow: 1;
  margin-top: 22px;
  padding-top: 8px;
  width: 114px;
  height: 37px;

  font-size: 16px;
  line-height: 1.125;

  vertical-align: middle;
  background: none;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  border: 2px solid #ffffff;
}

.catalog-form .btn:hover {
  color: #323232;

  background-color: #fbfcfc;
  border: 0;
}

.catalog-form .btn:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.catalog-cream-gallery {
  padding-top: 39px;
}

.gallery__list {
  flex-wrap: wrap;
}

.gallery__item {
  margin-bottom: 39px;
}

.gallery__item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.gallery__item .item__link::before {
  display: none;
}

.gallery__item--1 .item__link {
  background-image: url("../img/1.png");
}

.gallery__item--2 .item__link {
  background-image: url("../img/2.png");
}

.gallery__item--3 .item__link {
  background-image: url("../img/3.png");
}

.gallery__item--4 .item__link {
  background-image: url("../img/4.png");
}

.gallery__item--5 .item__link {
  background-image: url("../img/5.png");
}

.gallery__item--6 .item__link {
  background-image: url("../img/6.png");
}

.gallery__item--7 .item__link {
  background-image: url("../img/7.png");
}

.gallery__item--8 .item__link {
  background-image: url("../img/8.png");
}

.gallery__item--9 .item__link {
  background-image: url("../img/9.png");
}

.gallery__item--10 .item__link {
  background-image: url("../img/10.png");
}

.gallery__item--11 .item__link {
  background-image: url("../img/11.png");
}

.gallery__item--12 .item__link {
  background-image: url("../img/12.png");
}

.paginator {
  display: flex;
  padding-top: 79px;
  padding-bottom: 30px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.paginator__list {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: auto;
  margin-right: 0;
  padding: 0;

  list-style: none;
}

.paginator__page {
  margin-right: 3px;
}

.paginator__page:last-child {
  margin-right: 0;
}

.paginator__page a {
  position: relative;
  display: inline-block;

  padding: 4px 10px;
  width: 27px;
  height: 26px;

  color: #ffffff;
  font-size: 16px;
  line-height: 1.125;
  font-weight: 500;
  text-decoration: none;

  box-sizing: border-box;
}

.paginator__page a:hover {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator__page .active {
  color: #323232;

  background-color: #ffffff;
  border-radius: 50%;
}

.paginator__page:first-child a,
.paginator__page:last-child a {
  padding: 0;
  width: 8px;
  height: 12px;
}

.paginator__page:first-child a {
  padding-right: 18px;
}

.paginator__page:last-child a {
  padding-left: 20px;
}

.paginator__page:first-child a::before,
.paginator__page:first-child a::after,
.paginator__page:last-child a::before,
.paginator__page:last-child a::after {
  content: "";
  position: absolute;

  width: 8px;
  height: 1px;

  background-color: #ffffff;
}

.paginator__page:first-child a::before,
.paginator__page:last-child a::before {
  transform: rotate(45deg);
}

.paginator__page:first-child a::after,
.paginator__page:last-child a::after {
  transform: rotate(-45deg);
}

.paginator__page:last-child a::before {
  top: 6px;
  right: 1px;
}

.paginator__page:last-child a::after {
  top: 12px;
  right: 1px;
}

.paginator__page:first-child a::before {
  top: 12px;
  left: -1px;
}

.paginator__page:first-child a::after {
  top: 6px;
  left: -1px;
}

.paginator__page:first-child .disabled::before,
.paginator__page:first-child .disabled::after,
.paginator__page:last-child .disabled::before,
.paginator__page:last-child .disabled::after {
  background-color: rgba(255, 255, 255, 0.2);
}
